asgiref==3.7.2
astroid==2.15.5
certifi==2023.5.7
charset-normalizer==3.2.0
colorama==0.4.6
dill==0.3.6
Django==4.2.3
flake8==6.0.0
idna==3.4
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
Pillow==10.0.0
platformdirs==3.8.0
psycopg2==2.9.6
pycodestyle==2.10.0
pyflakes==3.0.1
pylint==2.17.4
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
python-dotenv==1.0.0
python-http-client==3.3.7
requests==2.31.0
sendgrid==6.10.0
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
stripe==5.4.0
tomlkit==0.11.8
tzdata==2023.3
urllib3==2.0.3
wrapt==1.15.0
