{% extends 'appcore/base_boilerplate.html' %}
{% load static %}
{% block title %} {{product.product_name}} {% endblock %}
{% block content %}
<div id="product" class="section-container p-t-20">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN breadcrumb -->
        <ul class="breadcrumb m-b-10 f-s-12">
            <li><a href="{% url 'core:index' %}">Home</a></li>
            <li><a href="{% url 'core:tagged_products' product.manufacturer|lower %}">{{product.manufacturer}}</a></li>
            <li><a href="{% url 'core:tagged_products' product.product_type|lower %}">{{product.product_type}}</a></li>
            <li class="active">{{product.product_name}}</li>
        </ul>
        <!-- END breadcrumb -->
        
        <!-- BEGIN product -->
        <div class="product">
            <!-- BEGIN product-detail -->
            <div class="product-detail">
                <!-- BEGIN product-image -->
                <div class="product-image">
                    <!-- BEGIN product-thumbnail -->
                    <div class="product-thumbnail">
                        <ul class="product-thumbnail-list">
                            <li class="active"><a href="#" data-click="show-main-image" data-url="{{ product.product_image.url }}"><img src="{{ product.product_image.url }}" alt="" /></a></li>
                            {% for path in product.page_photos %}
                                <li><a href="#" data-click="show-main-image" data-url="{% static path %}"><img src="{% static path %}" alt="" /></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- END product-thumbnail -->
                    <!-- BEGIN product-main-image -->
                    <div class="product-main-image" data-id="main-image">
                        <img src="{{ product.product_image.url }}" alt="" />
                    </div>
                    <!-- END product-main-image -->
                </div>
                <!-- END product-image -->
                <!-- BEGIN product-info -->
                <div class="product-info">
                    <!-- BEGIN product-info-header -->
                    <div class="product-info-header">
                        <h1 class="product-title">
                            {% if product.discount > 0 %}
                                <span class="label label-success">{{product.discount}}% OFF</span>
                            {% endif %}
                             {{product.product_name}} </h1>
                        <ul class="product-category">
                            {% for tag in product.tags %}
                                <li><a href="{% url 'core:search_with_query' tag %}">{{tag}}</a></li>
                                <li>/</li>
                            {% endfor %}
                            <!-- <li><a href="#">iPhone</a></li>
                            <li>/</li>
                            <li><a href="#">mobile phone</a></li>
                            <li>/</li>
                            <li><a href="#">electronics</a></li>
                            <li>/</li>
                            <li><a href="#">lifestyle</a></li> -->
                        </ul>
                    </div>
                    <!-- END product-info-header -->
                    <!-- BEGIN product-warranty -->
                    <div class="product-warranty">
                        {% if product.in_stock %}
                            <div class="pull-right">Availability: <span style="color:green">In Stock</span></div>
                        {% else %}
                        <div class="pull-right">Availability: <span style="color: red;">Sold Out</span></div>
                        {% endif %}
                        <div><b>1 Year</b> Local Manufacturer Warranty</div>
                    </div>
                    <!-- END product-warranty -->
                    <!-- BEGIN product-info-list -->
                    <ul class="product-info-list">
                        {% for line in product.info_lines %}
                            <li><i class="fa fa-circle"></i> {{line}}</li>
                        {% endfor %}
                        <!-- <li><i class="fa fa-circle"></i> 5.5" Retina HD Display with 3D Touch</li>
                        <li><i class="fa fa-circle"></i> Fingerprint-resistant oleophobic coating</li>
                        <li><i class="fa fa-circle"></i> A9 chip with 64-bit</li>
                        <li><i class="fa fa-circle"></i> Ultrafast 4G LTE Advanced wireless</li>
                        <li><i class="fa fa-circle"></i> New 12-megapixel iSight camera</li>
                        <li><i class="fa fa-circle"></i> 4k video recording</li>
                        <li><i class="fa fa-circle"></i> iOS 9 with Touch ID and Apple Pay</li> -->
                    </ul>
                    <!-- END product-info-list -->
                    <!-- BEGIN product-social -->
                    <div class="product-social">
                        <ul>
                            <li><a href="javascript:;" class="facebook" data-toggle="tooltip" data-trigger="hover" data-title="Facebook" data-placement="top"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:;" class="twitter" data-toggle="tooltip" data-trigger="hover" data-title="Twitter" data-placement="top"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:;" class="google-plus" data-toggle="tooltip" data-trigger="hover" data-title="Google Plus" data-placement="top"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="javascript:;" class="whatsapp" data-toggle="tooltip" data-trigger="hover" data-title="Whatsapp" data-placement="top"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a href="javascript:;" class="tumblr" data-toggle="tooltip" data-trigger="hover" data-title="Tumblr" data-placement="top"><i class="fa fa-tumblr"></i></a></li>
                        </ul>
                    </div>
                    <!-- END product-social -->
                    <!-- BEGIN product-purchase-container -->
                    <div class="product-purchase-container">
                        {% if product.discount > 0 %}
                            <div class="product-discount">
                                <span class="discount">${{product.product_price}}</span>
                            </div>
                            <div class="product-price">
                                <div class="price">${{product.discounted_price}}</div>
                            </div>
                        {% else %}
                            <div class="product-price">
                                <div class="price">${{product.discounted_price}}</div>
                            </div>
                        {% endif %}
                    {% if user.is_authenticated %}
                        <a href="{{product.get_add_to_cart_url}}"><button class="btn btn-inverse btn-lg" type="submit">ADD TO CART</button></a>
                    {% else %}
                    <p>Log In to Add to Cart</p>
                    {% endif %}
                    </div>
                    <!-- END product-purchase-container -->
                </div>
                <!-- END product-info -->
            </div>
            <!-- END product-detail -->
            <!-- BEGIN product-tab -->
            <div class="product-tab">
                <!-- BEGIN #product-tab -->
                <ul id="product-tab" class="nav nav-tabs">
                    <li class="active"><a href="#product-desc" data-toggle="tab">Product Description</a></li>
                    <li class=""><a href="#product-info" data-toggle="tab">Additional Information</a></li>
                    <li class=""><a href="#product-reviews" data-toggle="tab">Rating & Reviews ({{reviews|length}})</a></li>
                </ul>
                <!-- END #product-tab -->
                <!-- BEGIN #product-tab-content -->
                <div id="product-tab-content" class="tab-content">
                    <!-- BEGIN #product-desc -->
                    <div class="tab-pane fade active in" id="product-desc">
                        <h1 class="display-4 " style="
                        text-align: center;
                    ">{{product.product_name}} Specs</h1>                        <!-- BEGIN product-desc -->
                        {% for key, val in product.descriptions.items %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="product-desc">
                        {% else %}
                            <div class="product-desc right">
                        {% endif %}
                            <div class="image">
                                <img src="{{ product.product_image.url }}" alt="" />
                            </div>
                            <div class="desc">
                                <h4>{{key}}</h4>
                                <p>
                                    {{val}}
                                </p>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                    <!-- END #product-desc -->
                    <!-- BEGIN #product-info -->
                    <div class="tab-pane fade" id="product-info">
                        <!-- BEGIN table-responsive -->
                        <div class="table-responsive">
                            <!-- BEGIN table-product -->
                            <table class="table table-product table-striped">
                                <thead>
                                </thead>
                                <tbody>
                                    {% for key, val in product.additional_info.items %}
                                        <tr>
                                            <td class="field">{{key}}</td>
                                            <td>
                                                {{val}}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- END table-product -->
                        </div>
                        <!-- END table-responsive -->
                    </div>
                    <!-- END #product-info -->
                    <!-- BEGIN #product-reviews -->
                    <div class="tab-pane fade" id="product-reviews">
                        <!-- BEGIN row -->
                        <div class="row row-space-30">
                            <!-- BEGIN col-7 -->
                            <div class="col-md-7">
                                <!-- BEGIN review -->
                                {% for review in reviews %}
                                    <div class="review">
                                        <div class="review-info">
                                            <div class="review-icon"><img src="{% static 'assets/img/user-1.jpg' %}" alt="" /></div>
                                            <div class="review-rate">
                                                <ul class="review-star">
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                                ({{review.rating}}/5)
                                            </div>
                                            <div class="review-name">{{review.user.full_name}}</div>
                                            <div class="review-date">{{review.date}}</div>
                                        </div>
                                        <div class="review-title">
                                            {{review.title}}
                                        </div>                        
                                        <div class="review-message">
                                            {{review.review}}
                                        </div>
                                    </div>
                                {% endfor %}
                                <!-- END review -->
                            </div>
                            <!-- END col-7 -->
                            <!-- BEGIN col-5 -->
                            <div class="col-md-5">
                                <!-- BEGIN review-form -->
                                <div class="review-form">
                                    <form action="{% url 'core:post_review' product.id %}" name="review_form" method="POST">
                                        {% csrf_token %}
                                        <h2>Write a review</h2>                                        
                                            <input type="hidden" class="form-control" id="product" name="product" value="{{product.id}}" readonly/>
                                            <input type="hidden" class="form-control" id="user" name="user" value="{{user.id}}" readonly/>
                                        <div class="form-group">
                                            <label for="name">Name <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="name" name="name" value="{{user.full_name}}" readonly/>
                                        </div>
                                        <div class="form-group">
                                            <label for="title">Title <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="title" name="title" />
                                        </div>
                                        <div class="form-group">
                                            <label for="review">Review <span class="text-danger">*</span></label>
                                            <textarea class="form-control" rows="8" id="review" name="review"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Rating  <span class="text-danger">*</span></label>
                                            <div class="rating rating-selection" data-rating="true" data-target="rating">
                                                <i class="fa fa-star-o" data-value="2"></i>
                                                <i class="fa fa-star-o" data-value="4"></i>
                                                <i class="fa fa-star-o" data-value="6"></i>
                                                <i class="fa fa-star-o" data-value="8"></i>
                                                <i class="fa fa-star-o" data-value="10"></i>
                                                <span class="rating-comment">
                                                    <span class="rating-comment-tooltip">Click to rate</span>
                                                </span>
                                            </div>
                                            <select name="rating" class="hide">
                                                <option value="2">2</option>
                                                <option value="4">4</option>
                                                <option value="6">6</option>
                                                <option value="8">8</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>            
                                        <button type="submit" class="btn btn-inverse btn-lg">Submit Review</button>
                                    </form>
                                </div>
                                <!-- END review-form --> 
                            </div>
                            <!-- END col-5 -->
                        </div>
                        <!-- END row -->
                    </div>
                    <!-- END #product-reviews -->
                </div>
                <!-- END #product-tab-content -->
            </div>
            <!-- END product-tab -->
        </div>
        <!-- END product -->
        
        <!-- BEGIN similar-product -->
        <h4 class="m-b-15 m-t-30">You Might Also Like</h4>
        <div class="row row-space-10">
            {% for product in suggested %}
                <div class="col-md-2 col-sm-4">
                    <!-- BEGIN item -->
                    <div class="item item-thumbnail">
                        <a href="{% url 'core:product_details' product.id %}" class="item-image">
                            <img src="{{ product.product_image.url }}" alt="">
                            {% if product.discount > 0 %}
                            <div class="discount">{{product.discount}}% OFF</div>
                            {% endif %}
                        </a>
                        <div class="item-info">
                            <h4 class="item-title">
                                <a href="{% url 'core:product_details' product.id %}">{{product.product_name}}
                            </h4>
                            <p class="item-desc">{{product.product_tagline}}</p>
                            {% if product.discount > 0 %}
                                <div class="item-price">${{product.discounted_price}}</div>
                                <div class="item-discount-price">${{product.product_price}}</div>
                            {% else %}
                                <div class="item-price">${{product.discounted_price}}</div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- END item -->
                </div>
            {% endfor %}
        </div>
        <!-- END similar-product -->
    </div>
    <!-- END container -->
</div>
<!-- END #product -->
</div>
{% endblock %}
